{% extends 'homepage/base.html' %}

{% block content %}

    <h3 class="ctitle">Обо мне</h3>
    <p>Здравствуйте! Меня зовут Павел Янсапов, и я занимаюсь разработкой на Python.</p>
    <p>В <a href="blog/">блоге</a> планирую публиковать записи так или иначе связанные с программированием и IT.</p>
    <p>Для связи со мной Вы можете использовать <a href="contact/">специальную форму</a>, или же воспользоваться контактами и ссылками на социальные сети.</p>
    <hr>
    <div class="spacing"></div>
    <h3 class="ctitle">Используемые технологии</h3>
    <div class="technologies">
        <div class="col-xs-12" style="height:50px;"></div>
        <a href="https://www.djangoproject.com/"><i class="devicon-django-plain"></i></a>
        <a href="https://www.python.org/"><i class="devicon-python-plain-wordmark"></i></a>
        <a href=""><i class="devicon-html5-plain-wordmark"></i></a>
        <a href=""><i class="devicon-css3-plain-wordmark"></i></a>
        <div class="col-xs-12" style="height:50px;"></div>
        <a href="http://getbootstrap.com"><i class="devicon-bootstrap-plain-wordmark"></i></a>
        <a href="https://www.postgresql.org"><i class="devicon-postgresql-plain-wordmark"></i></a>
        <a href="https://en.wikipedia.org/wiki/Linux"><i class="devicon-linux-plain"></i></a>
        <a href="https://git-scm.com"><i class="devicon-git-plain"></i></a>
        <div class="col-xs-12" style="height:50px;"></div>
        <a href="http://lesscss.org/"><i class="devicon-less-plain-wordmark"></i></a>
    </div>

{% endblock content %}